<div class="list-group list-group-flush">
  <%= link_to "カード検索", cards_path, class: "list-group-item list-group-item-action list-group-item-dark" %>
  <%= link_to "バインダー", products_path, class: "list-group-item list-group-item-action list-group-item-dark" %>
  <%= link_to "ウィッシュリスト", cards_path, class: "list-group-item list-group-item-action list-group-item-dark" %>
  <%= link_to "所持者", traders_path, class: "list-group-item list-group-item-action list-group-item-dark" %>
</div>
